{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 my-4">About Me</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>
        I am a highly skilled Cloud Architect with a total of 7 years of
        experience in the cloud domain. I started my career as a Cloud
        Administrator, gaining 4 years of valuable experience, before
        transitioning into a Cloud Architect role, where I have been working for
        the past 3 years.
      </p>
      <p>
        Over the years, I have developed a deep understanding of various cloud
        platforms and services. I have successfully designed and implemented
        cloud solutions using industry best practices, helping organizations
        optimize their cloud infrastructure and reduce costs.
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="my-4">Certifications</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Azure Architect Expert</li>
        <li class="list-group-item">AWS Solution Architect</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
